colorback = black
colorfont = #fffac2	 
fontgeneral = 'Open Sans', sans-serif;
colortitulo = #fffac2 
colormenu = #7e0400
colorbtorder = #a3755d
body 
	padding-top 10px
	background: #FFFF url("../img/bg-body.gif") repeat top center
	font-color colorfont
	font-family fontgeneral
	color colormenu
.navbar-default
	background-color colormenu
	font-color colorfont
	font-size 1.5em
	border none	 
.navbar-fixed-top .nav  
	padding 15px 0
	background-color colormenu
.navbar-fixed-top .navbar-brand 
	padding 0 15px
.navbar-default .navbar-nav>li>a
	color colorfont
.navbar-default .navbar-nav>li>a:hover
	background-color colorfont 
.hdtitulo
	font-size 1.5em
	font-family fontgeneral
	color colormenu
h1,h2
	color colormenu
	font-family fontgeneral

@media screen and (max-width:768px)
	body
		padding-top 3px
	.navbar-fixed-top .navbar-brand
		padding: 15px 0	