@import url('/css/normalize.css')

colortitulo = #fffac2 
colortext =	#000000
colorbtorder = #a3755d

body, html
  height 100%
  font-size 16px
  font-famil 'times, serif'
  color colortext
#background  
  background-repeat repeat-x
  margin 0
  padding 0
  backgorund-color colortext
#wrap
  margin 0 auto
  max-width 1024px
  font-size 16px
  height 100%
  overflow hidden  
  color colortext
header
  text-align center
  margin-bottom 10px
  padding-top 10px
.logot
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -webkit-box-shadow: -1px 9px 20px 0 rgba(0,0,0,0.75)
  -moz-box-shadow: -1px 9px 20px 0 rgba(0,0,0,0.75)
  box-shadow: -1px 9px 20px 0 rgba(0,0,0,0.75)
  width 100px
  height 100px
.tdformat td 
  width 50%